@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="color: white">
            <li style="color: white">@Html.ActionLink("Upload", "Upload")</li>
           
            <li class="dropdown" style="color: white">
                <a href="#" class="dropdown-toggle myDrop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu" style="color: white">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Profile Page", "ProfilePage")</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    <li>
                        @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                </ul>
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="color: white">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
