@using Neo4j
@model Artist
@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid profileBox">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle" src="~/Content/Images/@Model.ProfilePicture" alt="Profile Picture" height="200" width="200">
        </div>
        <div class="col-sm-8">
            <h3>@Model.Name</h3>
            @{
                if (Model.Name == ViewBag.username)
                {
                    @Html.ActionLink("Edit Profile", "EditProfile", "Home")
                }
                else
                {
                    <p style="visibility: hidden" id="placeholderForEdit"></p>
                }
            }

        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">

            @{
                if (Model.Name == HttpContext.Current.User.Identity.Name)
                {

                }
                else
                {
                    if (ViewBag.IsFollowing)
                    {
                        @Html.ActionLink(
                                     linkText: "unollow",
                                     actionName: "UnFollow",
                                     controllerName: "Home",
                                     routeValues: new
                                     {
                                         name = Model.Name
                                     },
                                     htmlAttributes: null
                             )
                    }
                    else
                    {
                        @Html.ActionLink(
                                     linkText: "Follow",
                                     actionName: "Follow",
                                     controllerName: "Home",
                                     routeValues: new
                                     {
                                         name = Model.Name
                                     },
                                     htmlAttributes: null
                             )
                    }

                }
            }
        </div>
    </div>
</div>
<br />
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#uploads">Uploads</a></li>
        <li><a data-toggle="tab" href="#following">Following</a></li>
        <li><a data-toggle="tab" href="#likes">Likes</a></li>
        <li><a data-toggle="tab" href="#playlist">Playlist</a></li>
        <li><a data-toggle="tab" href="#overview">Overview</a></li>

    </ul>

    <div class="tab-content">
        <div id="uploads" class="tab-pane fade in active">
            @Html.Partial("Uploads", Model.Songs)
        </div>
        <div id="following" class="tab-pane fade">
            @Html.Partial("Followers", Model)
        </div>
        <div id="likes" class="tab-pane fade">
            @Html.Partial("Likes", Model.Likes)
        </div>
        <div id="playlist" class="tab-pane fade">
            @Html.Partial("Playlist", Model.Playlists)
        </div>
        <div id="overview" class="tab-pane fade">
            @Html.Partial("Overview", Model)
        </div>
    </div>
</div>


