@using Neo4j
@model Artist
@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="profileRectangle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <input type="image" src="http://upload.wikimedia.org/wikipedia/commons/c/ca/Button-Lightblue.svg" width="30" height="30" />
                <input type="file" id="my_file" style="display: none;" />
            </div>
            <div class="col-sm-2">
                <h3>@Model.Name</h3>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#uploads">Uploads</a></li>
        <li><a data-toggle="tab" href="#following">Following</a></li>
        <li><a data-toggle="tab" href="#likes">Likes</a></li>
        <li><a data-toggle="tab" href="#playlist">Playlist</a></li>
        <li><a data-toggle="tab" href="#overview">Overview</a></li>

    </ul>

    <div class="tab-content">
        <div id="uploads" class="tab-pane fade in active">
            @Html.Partial("Uploads", Model.Songs)
        </div>
        <div id="following" class="tab-pane fade">
           @Html.Partial("Friends", Model.Friends)
        </div>
        <div id="likes" class="tab-pane fade">
            @Html.Partial("Likes", Model.Likes)
        </div>
        <div id="playlist" class="tab-pane fade">
            @Html.Partial("Playlist", Model.Playlists)
        </div>
        <div id="overview" class="tab-pane fade">
            @Html.Partial("Overview", Model)
        </div>
    </div>
</div>


